:root {
--dark: #33393f;
--darkblue:  rgb(1, 73, 73);
--light: cyan;

}

nav {

    display: flex;
    background-color: var(--dark);
    color: white;

}

body {
    background-color:rgb(207, 223, 245)
}


h1 {
    font-size: 54px;
    color: var(--dark);
    background-color: var(--light);
    padding: 2%;
    margin: 12px 0 12px;
}

h2 {
    /* display: block; */
    font-size: 20px;
    padding: 2%;
    background-color: var(--light);
    color: black;
    /* margin-right: auto;  */
    /* border: 20px; */
    position: absolute;
    bottom: 440px;
    right: 40px
}

h3 {
    font-size: 54px;
    color: var(--darkblue);
    padding: 2%;
    border-right: 5px solid var(--darkblue);
}

h4{
    font-size: 30px;
    text-align: center;
}

h4 + p {
   text-align: left;
}


p {
    padding: 10px;
}
ul {
    display: flex;
    margin-left: auto;

}
nav li {
    font-family: sans-serif;
    font-weight:bold;
    font-size: 27px;
    padding: 2%;
    border-bottom: 5px solid var(--light);
    margin: 5px;
    color: var(--light);
    width: 200px;
    text-align: center;
}

section{
    margin-left: 50px;
    display: flex;
    margin-bottom: 20px;
}

footer {
    margin-left: 50px;
    display: flex;
}

footer li {
    font-family: sans-serif;
    font-weight:bold;
    padding: 2%;
    border-bottom: 5px solid var(--darkblue);
    margin: 5px;
    color: black;
    width: 125px;
    text-align: center;
}


img {
    position: relative;
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}


.MainBox,
.Box {
    color: black;
    background-color: var(--light);
    text-align: left;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
}