:root {
--dark: #33393f;
--darkblue:  rgb(1, 73, 73);
--light: rgb(0, 182, 182);

}

nav {

    display: flex;
    background-color: var(--dark);
    color: white;

}

body {
    background-color:rgb(207, 223, 245)
}



h1 {
    font-size: 54px;
    text-align: center;
    color: var(--dark);
    background-color: var(--light);
    padding: 2%;
    margin: 12px 0 12px;
}

h2 {
    /* display: block; */
    font-size: 42px;
    padding: 2%;
    background-color: var(--light);
    color: black;
    /* margin-right: auto;  */
    /* border: 20px; */
    position: absolute;
    top: 8em;
    right: 7rem;
}

h3 {
    font-size: 42px;
    color: var(--darkblue);
    border-right: 5px solid var(--darkblue);

}

h4{
    background-color: var(--light);
    font-size: 30px;
    text-align: center;
    padding: 15px;
}

h4 + p {
   text-align: left;
}


p {
    padding: 10px;
}

nav li {
    /* display: flex; */
    font-family: sans-serif;
    font-weight:bold;
    font-size: 27px;
    border-bottom: 5px solid var(--light);
    margin: 5px;
    color: var(--light);
    width: 100%;
    text-align: center;
}

footer li{
    padding: 10px;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 18px;
    border-bottom: 5px solid var(--dark);
    margin: 2em;
    color: var(--light);
    width: 100%;
    text-align: center;
}

.selfie {
    position: absolute;
    object-fit: cover;
    height: 20%;
    width: 10rem;
    margin-bottom: 25px;
    align-items: center;

}

.footerBox,
.NavBar {
    width: 50%;
    display: flex;
    padding: 50px 10px 10px 10px;
    margin-left: auto;
    justify-content: center;
}

.footerBox {
   width: 100%;
}
.image-banner{
    position: relative;
    object-fit: cover;
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-position: center;
}
.image-box {
    position:absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
}

.imageSmall {
    position:absolute;
    object-fit: cover;
    width: 52.5rem;
    height: 300px;
    opacity: 0.5;
    z-index: -1;
}
.row {
    display: flex;
}

.heading,
.content {
    padding: 10px;
}

.heading {
    flex: 0 0 200px;
    display: flex;
    justify-content: flex-end;
    /* flex-flow: column wrap; */
    padding: 16px;
}
.content-row {
    width: 100%;
    display: flex;
}
  
.mainBox {
    position: relative;
    display: flex;
    width: 100%;
    height: 300px;
    border: 2px solid var(--light);
}

.mainBox:hover {
    opacity: 0.5;
}

.mainText + p {
    height: 32px;
    margin: 15.5em 0 0 0;
    position: relative;
    background-color: var(--light);
}

.mainText {
    height: 2.5em;
    margin: 7em 0 0 0;

}
  
.smallBox {
    width: 50%;
    height: 300px;
    border: 1px solid black;
}

.smallBox:hover {
    opacity: 0.5;
}
.content {
    flex-grow: 1;
}

@media screen and (max-width: 768px) {
    
    .row {
      flex-direction: column;
    }
    .heading {
      flex: 1;
      justify-content: flex-start;
    }
}
  
@media screen and (max-width: 425px) {
    .content-row {
      flex-direction: column;
    }
    .mainBox {
      height: 200px;
    }
    .smallBox {
      width: 100%;
    }
}